@import "tailwindcss";
@import "flowbite/dist/flowbite.min.css";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;
}

[x-cloak] {
    display: none !important;
}

/* choose one of the following */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* MINIMAL THEME
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
*/

/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

/* PLAYFUL THEME
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/playful";
*/

/* MONO THEME
@import "flowbite/src/themes/mono";
*/


/* 1. Importar el núcleo de Alertify */
@import "alertifyjs/build/css/alertify.min.css";

/* 2. Importar el tema (Este es el que activa la manita y colores) */
@import "alertifyjs/build/css/themes/default.min.css";

/* ... aquí van tus @theme y @plugin de Flowbite que ya teníamos ... */

/* 3. El "Parche" de seguridad para la manita */
@theme {
  /* Si por alguna razón el tema no pone la manita, esto lo fuerza */
  --cursor-alertify-button: pointer;
}

.alertify .ajs-button, 
.alertify .ajs-close {
    cursor: var(--cursor-alertify-button) !important;
}